h1, h2, h3, p {
    text-align:center;
}
/*making the links change color with different actions*/
a:link { color:blue;}
a:visited { color:green;}
a:hover   { color:purple;}
a:active  { color:red;}
/*adding differnt style's to both headers*/
hr{
   height: 2px;
   background-color: aliceblue;
   border: 2px solid black; 
}/*giving header 1 its own style*/
header h1{
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 46px;
    margin-top: 0px;
}/*giving header 2 own style*/
header h2{
    font-size:22px;
    font-style: italic;
}
/*only adding color to the divider*/
div{
    background-color:lightslategray;
}
/*giving the entier page color*/
 body {
    background-color: #546678;
 }
 /*moving footer to center */
 footer h4 {
     text-align: center;
     margin-bottom: 5px;
     margin-top: 10px;
 }
 /*moving image*/
 .centeredImage{
 position: fixed;
 top: 50%;
 left: 50%;
 margin-top: -50px;
 margin-bottom: 150px;
 }
 p {
     font-size: 16px;
 }
 

 